---
import Picture from 'astro-media-kit/components/Picture.astro'
import Layout from '../layouts/Layout.astro'
import { pages } from '../pages'
---

<Layout title="astro-media-kit playground">
	<h1>astro-media-kit playground</h1>
	<ul>
		{
			pages.map((page) => (
				<li>
					<a href={page.href}>{page.title}</a>
				</li>
			))
		}
	</ul>
	<hr />
	<Picture
		alt="test"
		decoding="async"
		layout="constrained"
		loading="lazy"
		sizes="auto"
		src="../assets/test.jpeg"
	/>
	<hr />
</Layout>
