---
import Image from 'astro-media-kit/components/Image.astro'
import Video from 'astro-media-kit/components/Video.astro'
import Layout from '../layouts/Layout.astro'
import { pages } from '../pages'
---

<Layout title="astro-media-kit playground">
	<h1>astro-media-kit playground</h1>
	<ul>
		{
			pages.map((page) => (
				<li>
					<a href={page.href}>{page.title}</a>
				</li>
			))
		}
	</ul>
	<hr />
	<Image alt="test" credit="Eric" src="../assets/test.jpeg" zoom="true" zoomLevel="native" />
	<Video label="test2" service="vimeo" src="15722237" zoom="true" zoomLevel="native" />
	<hr />
</Layout>
