---
import Image from 'astro-media-kit/components/Image.astro'
import Picture from 'astro-media-kit/components/Picture.astro'
---

<Image alt="Dark test" creator="Me" src="../assets/test-sketch.tldr?dark=true&tldr" />

<Picture alt="Light/dark test" src="../assets/test-sketch.tldr" />

<Picture
	alt="Light/dark test"
	src="../assets/test-sketch.tldr"
	srcDark="../assets/test-sketch.tldr?dark=true&tldr"
/>

<div style="background: red">
	Image

	<Image alt="Blep" creator="Me" src="../assets/test.jpeg" />

	<Image alt="Blep" creator="Me" src="../assets/test-sketch.tldr" />

	<Image alt="Blep" background="blue" creator="Me" src="../assets/tiger.svg" />

	<Image
		alt="Blep"
		background="#eee"
		backgroundDark="#333"
		creator="Me"
		src="../assets/tiger.svg"
	/>

	Picture

	<Picture alt="Blep" creator="Me" src="../assets/test.jpeg" />

	<Picture alt="Blep" creator="Me" src="../assets/test.jpeg" srcDark="../assets/test-dark.jpeg" />

	<Picture alt="Blep" creator="Me" src="../assets/test-sketch.tldr" />

	<Picture alt="Blep" creator="Me" src="../assets/tiger.svg" />

	<Picture
		alt="Blep"
		background="yellow"
		backgroundDark="purple"
		creator="Me"
		src="../assets/tiger.svg"
	/>

	<Picture
		alt="Blep"
		background="yellow"
		backgroundDark="purple"
		creator="Me"
		formats={['webp']}
		src="../assets/tiger.svg"
	/>

	<Picture
		alt="Blep"
		background="yellow"
		backgroundDark="purple"
		creator="Me"
		formats={['jpg']}
		src="../assets/tiger.svg"
		srcDark="../assets/tiger.svg"
	/>

	<Picture
		alt="Blep"
		background="yellow"
		backgroundDark="purple"
		creator="Me"
		formats={['jpg']}
		src="../assets/tiger.svg"
	/>
</div>
