---
import VideoJs from 'astro-media-kit/components/VideoJs.astro'
import Layout from '../layouts/Layout.astro'
import { pages } from '../pages'

const { title } = pages.find((p) => p.href === '/video-js-component')!
---

<Layout title={title}>
	<h1>Video tests</h1>
	<h2>None</h2>
	<VideoJs
		autoPlay={true}
		controlStyle="none"
		loop={true}
		src="f24d7806-2cf5-4df9-a340-840d68eef8c9"
	/>
	<h2>Minimal</h2>
	<VideoJs controlStyle="minimal" src="f24d7806-2cf5-4df9-a340-840d68eef8c9" />
	<h2>Full</h2>
	<VideoJs controlStyle="full" src="f24d7806-2cf5-4df9-a340-840d68eef8c9" />
</Layout>
