a.pswp-zoom {
	cursor: zoom-in;
}

div.pswp-zoom {
	cursor: zoom-in;
}

.pswp {
	--pswp-button-opacity: 0.5;
	--pswp-placeholder-bg: transparent;
	cursor: zoom-out;
}

.pswp--ui-visible .pswp__button--arrow,
.pswp__button--close {
	opacity: var(--pswp-button-opacity);
	transition: opacity 0.2s ease;
}

.pswp__button--arrow:disabled {
	pointer-events: none;
	display: unset;
	opacity: 0;
	transition: opacity 0.2s ease;
}

.pswp__button--close {
	order: -1;
	margin-right: auto;
}

.pswp__button--arrow:hover,
.pswp__button--close:hover {
	opacity: 1;
	transition: none;
}
