---
import type { InternalAudioProps } from './audio-types'
import './amk-audio.css'

export type Props = InternalAudioProps

const { autoPlay, loop, muted, preload, resolvedLabel, src } = Astro.props
---

<script>
	import 'media-chrome'
</script>

<div class="amk">
	<media-controller audio>
		{/* eslint-disable astro/jsx-a11y/media-has-caption -- audio elements don't have captions */}
		<audio
			aria-label={resolvedLabel}
			autoplay={autoPlay || undefined}
			crossorigin="anonymous"
			loop={loop || undefined}
			muted={muted || undefined}
			preload={preload}
			slot="media"
			src={src}></audio>
		{/* eslint-enable astro/jsx-a11y/media-has-caption */}
		<media-control-bar>
			<media-play-button></media-play-button>
			<media-mute-button></media-mute-button>
			<media-volume-range></media-volume-range>
			<media-time-range></media-time-range>
			<media-time-display></media-time-display>
		</media-control-bar>
	</media-controller>
</div>
