---
import type { InternalVideoProps } from './types'
import { getControllerStyle } from './types'
import './amk-video.css'

type VideoAttributes = astroHTML.JSX.VideoHTMLAttributes

export type Props = Omit<InternalVideoProps, 'captions' | 'hlsConfig'>

const {
	aspectRatio,
	autoPlay,
	controlStyle,
	intrinsicWidth,
	loop,
	muted,
	posterUrl,
	preload,
	resolvedLabel,
	videoSrc,
	zoom,
} = Astro.props

const controllerStyle = getControllerStyle(intrinsicWidth, aspectRatio)

const videoAttributes: VideoAttributes = {
	'aria-label': resolvedLabel,
	autoplay: autoPlay || undefined,
	crossorigin: 'anonymous',
	loop: loop || undefined,
	muted: muted || undefined,
	playsinline: 'true',
	poster: posterUrl,
	preload,
}
---

<script>
	import 'vimeo-video-element'
	import 'media-chrome'
	import './media-chrome-init'
</script>

<div class="amk amk-embed">
	<media-controller
		autohide="1"
		class:list={[controlStyle, { autoplay: autoPlay }]}
		gesturesdisabled={controlStyle === 'lightbox' || controlStyle === 'none' ? '' : undefined}
		inert={controlStyle === 'none' ? 'true' : undefined}
		style={controllerStyle}
	>
		<vimeo-video {...videoAttributes} slot="media" src={videoSrc}></vimeo-video>
		{
			controlStyle === 'full' && (
				<media-control-bar>
					<media-play-button />
					<media-mute-button />
					<media-volume-range />
					<media-time-range />
					<media-time-display />
					<media-fullscreen-button class:list={[{ 'pswp-video-trigger': zoom }]}>
						{zoom && <span slot="tooltip-enter">Zoom</span>}
					</media-fullscreen-button>
				</media-control-bar>
			)
		}
		{
			controlStyle === 'lightbox' && (
				<media-control-bar>
					<media-play-button />
					<media-mute-button />
					<media-volume-range />
					<media-time-range />
					<media-time-display />
				</media-control-bar>
			)
		}
		{
			controlStyle === 'minimal' && (
				<media-control-bar style="justify-content: flex-end">
					<media-fullscreen-button class:list={[{ 'pswp-video-trigger': zoom }]}>
						{zoom && <span slot="tooltip-enter">Zoom</span>}
					</media-fullscreen-button>
				</media-control-bar>
			)
		}
		{
			controlStyle === 'minimal' && (
				<media-play-button slot="centered-chrome" style="border-radius: 50%" />
			)
		}
	</media-controller>
</div>
